body.compact-dark {
    font-size: 12px;
    background-color: #393f4c;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.compact-dark a {
    color: white;
}

body.compact-dark hr {
    border: 0;
    border-top: 1px solid #1f222a;
}

body.compact-dark input,
body.compact-dark select,
body.compact-dark button {
    border: 1px solid #1d2328;
    margin: 0 3px;
    font-size: 12px;
}

body.compact-dark input,
body.compact-dark select {
    background-color: #171b1f;
    color: white;
}

body.compact-dark button {
    background-color: transparent;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.compact-dark button:hover,
body.compact-dark button:active {
    background-color: #1e262c;
}

body.compact-dark table#hourly .icon img.emoji {
   filter: initial;
}
