body.native h1 {
    font: -moz-window;
    font-weight: bold;
    font-size: 16px;
}

body.native hr {
    border-top: 1px solid threedshadow;
    border-bottom: 1px solid threedhighlight;
    border-left: 0;
    border-right: 0;
}

body.native {
    background-color: ThreeDFace;
    color: ButtonText;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font: -moz-info;
}

body.native button {
    font-size: 12px;
    font: -moz-button;
}