body {
    font-size: 12px;
    font-family: sans-serif;
    text-align: center;
}

hr {
    max-width: calc(100% - 32px);
}

h1 {
    margin: 8px 0;
    font-size: 16px;
}

#setup > * {
    display: block;
    clear: both;
}
#setup hr {
    max-width: 144px;
}

#setup label {
    line-height: 26px;
}

label.latlng {
    text-align: left;
    width: 144px;
    margin: auto;
}
label.latlng input {
    box-sizing: border-box;
    width: calc(100% - 72px);
    height: 22px;
    margin: 2px 0;
    float: right;
}

#setup > button {
    margin: auto;
}

#alerts > * {
    background-color: red;
    font-weight: bold;
    color: white;
    padding: 4px 0;
    margin: 8px 0;
}

#alerts > *.advisory {
    background-color: blue;
    color: white;
}

#alerts > *.watch {
    background-color: yellow;
    color: black;
}

#alerts a {
    color: inherit;
}

#currentTemp {
    font-size: 400%;
}

table#hourly {
    display: inline-table;
}

table#hourly td {
    padding: 0 4px;
}

table#hourly .time {
    text-align: right;
}

table#hourly .temp {
    font-size: 150%;
    font-weight: bold;
}

table#hourly .icon {
    font-size: 200%;
}

table#hourly .summary {
    text-align: left;
}
