html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

hr {
    max-width: calc(100% - 32px);
}

h1 {
    margin: 8px 0;
    font-size: 16px;
}

#main {
    flex: 1 0 0px;
    overflow-y: auto;
}

#footer {
    flex: 0 0 24px;
    padding-bottom: 4px;
}

#main, #footer {
    font-size: 12px;
    font-family: sans-serif;
    text-align: center;
}

#setup > * {
    display: block;
    clear: both;
}
#setup hr {
    max-width: 144px;
}

#setup label {
    line-height: 26px;
}

label.latlng {
    text-align: left;
    width: 144px;
    margin: auto;
}
label.latlng input {
    box-sizing: border-box;
    width: calc(100% - 72px);
    height: 22px;
    margin: 2px 0;
    float: right;
}

button#getCurrentLocation,
button#saveSettings {
    margin: auto;
}

#currentTemp {
    font-size: 400%;
}

table#hourly {
    display: inline-table;
}

table#hourly td {
    padding: 0 4px;
}

table#hourly .time {
    text-align: right;
}

table#hourly .temp {
    font-size: 150%;
    font-weight: bold;
}

table#hourly .icon {
    font-size: 200%;
}

table#hourly .summary {
    text-align: left;
}
